[Desktop Entry]
Type=Application
Version=1.{project-version}
Name={project-acronym}
GenericName={project-full-name}
Comment={project-description}
Icon={project-acronym}
Exec={project-acronym}-x86_64.AppImage
Terminal=true
MimeType=image/svg+xml;
Categories=Utility;
Keywords="{project-keyword-1}" "{project-keyword-2}"